<%- include("partials/header") %>

<div class="ui two column centered grid">
	<div class="fourteen wide tablet fourteen wide computer column">
		<div class="top-section">
			<header>My Food Blog</header>
			<p>Browse the selection of delicious new recipes.</p>
		</div>
		<div class="ui stackable four column grid">
				<% blogs.forEach(function(blog){ %>
				<div class="four wide column">
					<a href="/blogs/<%= blog._id %>" class="ui medium rounded image">
						<img src="<%= blog.image %>" id="image"> 
					</a>
					<div class="content">
						<a class="title" href="/blogs/<%= blog._id %>"><%= blog.title %></a>
					</div>
				</div>
				<% }); %>
			</div>
	</div>
</div>


<%- include("partials/footer") %>