<%- include("partials/header") %>
<div class="ui two column centered grid">
	<div class="top-section">
			<header><%= blog.title %></header>
			<p class="blog-date">Posted on <%= blog.created.toDateString() %></p>
	</div>
	<div class="fourteen wide column">
		
		<div class="ui stackable grid">
			<div class="eight wide column">
				<img class="ui rounded image" src="<%= blog.image %>"> 
			</div>
			<div class="eight wide column">
				<div class="description">
					<h1>
						Description
					</h1>
					<p id="description"><%= blog.body %></p>
				</div>
			</div>
			<div class="eight wide column">
				<div class="ui card">
					<div class="content" id="card">
						<div class="card-section"><h1 class="card-header"><%= blog.title %> Ingredients</h1>
						<h4 class="meta"><i class="fas fa-utensils"></i> Yields: <%= blog.yields %></h4>
						</div>
						<div class="card-section ingredients">
							<p id="ingredients-list"><%= blog.ingredients %></p>
						</div>
					</div>
				</div>
			</div>
			<div class="eight wide column">
				<div class="ui card">
					<div class="content" id="card">
						<div class="card-section">
							<h1 class="card-header">Directions</h1>
							<h4 class="meta"><i class="far fa-clock"></i> Cook Time: <%= blog.cook %></h4>
						</div>
						<div class="card-section directions">
							<p id="directions-list"><%= blog.directions %></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- IMPORTANT: method override -->
		<div class="btn-container">
			<form id="delete" method="POST" action="/blogs/<%= blog._id %>?_method=DELETE">
			<a class="ui orange basic button" href="/blogs/<%= blog._id %>/edit">Edit</a>
			<button class="ui red basic button">Delete</button>
			</form>
		</div>

	</div>
</div>


<%- include("partials/footer") %>