<%- include("partials/header") %>
<div class="ui two column centered grid">
	<div class="fourteen wide column">
		<div class="top-section">
			<header><%= blog.title %></header>
			<p class="blog-date">Posted on <%= blog.created.toDateString() %></p>
		</div>
		<div class="ui stackable grid">
			<div class="eight wide column">
				<img class="ui rounded image" src="<%= blog.image %>"> 
			</div>
			<div class="eight wide column">
				<div class="description">
					<h1>
						Description
					</h1>
					<p><%= blog.body %></p>
				</div>
			</div>
		</div>

		<!-- IMPORTANT: method override -->
		<div class="btn-container">
			<form id="delete" method="POST" action="/blogs/<%= blog._id %>?_method=DELETE">
			<a class="ui orange basic button" href="/blogs/<%= blog._id %>/edit">Edit</a>
			<button class="ui red basic button">Delete</button>
			</form>
		</div>

	</div>
</div>


<%- include("partials/footer") %>